body, html {
    margin: 0;
    padding: 0;
}
#login-container {
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#login {
    padding: 15px;
    background-color: #D2B48C;
    border: 5px solid #DEB887;
    width: 300px;
    height: 200px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
}
canvas {
    display: block;
    margin: 15px auto;
}
